body {
  margin: 0;
  padding: 0;
  background-color: #00a000;
}
.hide {
  display: none;
}
.start {
  cursor: pointer;
}
.car {
  background: transparent center no-repeat url('../image/player.png');
}
.enemy {
  background: transparent center no-repeat url('../image/enemy2.png');
}
.car, .enemy {
  width: 50px;
  height: 110px;
  background-size: cover;
  position: absolute;
  left: 125px;
  bottom: 10px;
}

.gameArea {
  width: 300px;
  height: 100%;
  position: relative;
  margin: auto;
  background-color: #222;
  overflow: hidden;
}
.line {
  position: absolute;
  width: 10px;
  height: 50px;
  background-color: #FFF;
  left: 145px;
}
